.modal {
	background-color: #0000008f;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__card {
	height: 500px;
	width: 350px;
	background-color: white;
	border-radius: 12px;
}

.modal__icons {
	position: absolute;
	width: 800px;
	display: flex;
	justify-content: space-between;
}

.modal__icons__arrows {
    height: 120px;
    cursor: pointer;
}
